# general
*.DS_Store
history

## // .config
#
# hammerspoon
spoons/

# karabiner
configstore/
automatic_backups/

# .config
hub

# vim/nvim
.config/vifm/colors
plugged/
autoload/
log
share/

## // win
# .win/.R/desktop.ini
desktop.ini

# conemu
.win/conemu/ConEmu.xml

# vscode
#*.code-workspace

# keypirinha
*.history
.Rproj.user

# zsh
.zlogin

# powershell
*.ps1
NuGet/

*.links

*.pyc

get-pip.py

est

*rsthemes_*
*rscodeio*
