# general
*.DS_Store
history

# hammerspoon
spoons/

# karabiner
configstore/
automatic_backups/

# vim/nvim
vifm/colors
plugged/
autoload/
log

# .win/.R/desktop.ini
desktop.ini

# vscode
#*.code-workspace

# keypirinha
*.history
.Rproj.user

# zsh
.zlogin

# powershell
*.ps1
NuGet/


hub

*.links

*.pyc

get-pip.py

