[user]
	name = rileytwo
	email = 34988536+rileytwo@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/riley/.gitignore-global
	trustctime = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
	filemode = false
	editor = vimr --wait
	excludesfiles = ~/.gitignore-global
[hub]
	protocol = https
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = "magenta bold"
	commit = "yellow bold"
	old = "red bold"
	new = "green bold"
	whitespace = "red reverse"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
