[user]
	name = rileytwo
	email = 34988536+rileytwo@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = .gitignore-global
	trustctime = false
	pager = less -F -X
	autocrlf = input
	filemode = false
[hub]
	protocol = https

