[user]
	name = rileytwo
	email = 34988536+rileytwo@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = .gitignore-global
	trustctime = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
	filemode = false
	editor = vimr --wait
[hub]
	protocol = https
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = "magenta bold"
	commit = "yellow bold"
	old = "red bold"
	new = "green bold"
	whitespace = "red reverse"
